<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    
    <title>Plot Mangement Site</title>
    <script src="https://use.fontawesome.com/66c3d8f1bc.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
    
</head>

<body>

<div class="header">
    <nav>
        <img src="logo.png" class="logo">
        <ul class="nav-links">
            <li><a href="#">Popular Places</a></li>
            <li><a href="#">Travel Outside</a></li>
            <li><a href="#">Online Package</a></li>
        </ul>
        <a href="#" class="register-btn">Register Now</a>
    </nav>
</div>


</body>

</html>